/* resert css */
html * {
 margin: 0%px;   
}


#menu{
height: 400px;
background-color: #747373;
display: flex;
justify-content: center;
align-items: center;

}

#perfil{

    height: 300px;
    width: 300px;
    /* ajustar imagem sem perder porpoção */
    object-fit: cover;
    /* deixa a imagem arredondada */
    border-radius:50%;
    margin:20px;

}



#principal{

height: 600px;
background-color: #5c5c5c;
display: flex;
justify-content: center;
align-items: center;

}

div{

    background-color: black;
    height: 400px;
    width: 400px ;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {

    background: color 1f 1f 1f;
    height: 400px;
    width: 400px ;
    margin: 20px;

    /* alinhamento da caixa  */

    display: flex;
    justify-content: center;
    align-items: center;

}



.texto{

color:azure ;
font-size: 30px;


}


#rodape{

    height: 300px;
    background-color: #505050;
    /* alinhamento das redes sociais  */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icones{

    
    height: 100px;
    margin:20px;
    
}

